.DS_Store
node_modules
*.local
.vite-inspect
.remote-assets
components.d.ts
.vite
dist
old_latex_file
Files.zip
resources/בחנים/1.4 - איחוד וחיתוך אונריים.pdf
resources/בחנים/2026א - עבודה 1 - קבוצות.pdf
resources/בחנים/bochan1_241128_175358.pdf
resources/בחנים/Targil1.pdf
resources/בחנים/Targil2 (1).pdf
resources/בחנים/בוחן תשעז - פתרון.pdf
resources/בחנים/בוחן תשעז - שאלון.pdf
resources/בחנים/בוחן תשפ - פתרון.pdf
resources/בחנים/בוחן תשפ - שאלון.pdf
